#app-music {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: 100% 100%;
}

p {
    margin: 0;
    padding: 0;
}

.mus {
    position: fixed;
    top: 0;
    left: 50%;
    width: 780px;
    margin-left: -400px;
    margin-top: 200px;
}

.mus_hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #0a88d7;
    color: aliceblue;
    padding: 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mus_search {
    width: 200px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    padding-left: 16px;
}

.mus_search input {
    background: none;
    border: 0;
    outline: none;
}

.mus_search input::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/zoom.png) no-repeat;
}

.mus_bd {
    position: relative;
    display: flex;
    width: 780px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.45);
    padding: 0 10px;
}

.song_list {
    flex: 2.5;
    background: url(../images/line02.png) right center no-repeat;
    background-size: 1px 400px;
}

.song_list li {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin-top: 10px;
}

.song_list li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.song_list li a {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url(../images/play.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

.song_list li b {
    font-size: 16px;
    font-weight: normal;
    color: #555;
}

.song_list li span i {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url(../images/mv.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-left: 48px;
}


/* 旋转方向 */

@keyframes Rotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}


/* 旋转类名 */

.autoRotate {
    animation-name: Rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-timing-function: linear;
}


/* 是否正在播放 */

.player_con {
    flex: 5;
    background: url(../images/line02.png) right center no-repeat;
    background-size: 1px 400px;
}

.comments {
    flex: 2.5;
}

.player_con .player_bar {
    position: absolute;
    top: -10PX;
    left: 50%;
    width: 80px;
    z-index: -1;
}

.player_con .disc {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -130px;
    width: 260px;
    height: 260px;
}

.player_con .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -62px;
    margin-left: -71px;
    width: 144px;
    height: 144px;
    border-radius: 50%;
}


/* 评论模块 */

.comments {
    padding: 10px;
}

.com_info li {
    display: flex;
    margin: 10px 0;
}

.com_info li .avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.comments .name {
    font-size: 14px;
    color: #333;
}

.comments p {
    font-size: 12px;
    color: #666;
}


/* 底部播放进度条 */

.audio_con {
    position: relative;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 48px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.myaudio {
    width: 100%;
    height: 100%;
}

.video_con .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 980;
    background-color: rgba(0, 0, 0, 0.7);
}

.myvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -250px;
    width: 800px;
    height: 500px;
    z-index: 990;
    border-radius: 4px;
}